<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
    package="com.lena.hyperpay">

    <application>
        <meta-data android:name="flutterEmbedding" android:value="2" />
        <service
            android:name="com.oppwa.mobile.connect.service.ConnectService"
            android:exported="false" />

        <activity
            android:name="com.oppwa.mobile.connect.checkout.dialog.CheckoutActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Checkout.Light"
            android:windowSoftInputMode="adjustPan"
            tools:replace="android:windowSoftInputMode"/>
    </application>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
